@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
}

body {
  background-color: #fff;
}

nav {
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0px solid grey;
}
nav .menu ul {
  display: flex;
}
nav .menu ul li {
  list-style: none;
  padding: 10px;
}
nav .menu ul li a {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
nav .menu ul li:nth-child(5) {
  cursor: pointer;
  border: 2px solid #9a6d62;
  color: #9a6d62;
  border-radius: 20px;
}
nav .menu ul li:nth-child(5) a {
  color: #9a6d62;
  font-weight: 600;
}
nav .bars {
  display: none;
  cursor: pointer;
}
nav .bars .border {
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 3px;
}
nav .bars .border div {
  width: 20px;
  height: 3px;
  background-color: grey;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
}

.banner {
  background-image: url("../img/praia.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 10% auto auto auto;
  grid-template-rows: 10% auto 30%;
  padding: 20px;
  padding: 2% 2% 2% 2%;
}
.banner .cont {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  justify-content: center;
  align-items: center;
}
.banner .cont h1 {
  text-align: center;
}
.banner .cont h1 b {
  font-family: "Shadows Into Light", cursive, sans-serif;
  color: grey;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
.banner .cont p {
  width: 350px;
  margin: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
}
.banner .cont .btn {
  width: 200px;
  border: none;
  padding: 15px 2px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2em;
  background: linear-gradient(-10deg, #0026ff, #ff0077, #ffe600);
}
.banner .cont .buscar {
  display: flex;
  width: 100%;
}
.banner .cont .buscar input[type=text] {
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 80px;
  font-size: 1em;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.banner .cont .buscar button {
  border: none;
  padding: 10px 30px;
  width: 35px;
  height: 39px;
  background: #fff;
  color: grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.banner .cont .buscar button i {
  font-size: 1.3em;
}
.banner .sociais {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-content: left;
  align-items: right;
}
.banner .sociais ul {
  display: grid;
  list-style: none;
  justify-content: left;
  align-items: center;
  margin-top: 350px;
}
.banner .sociais ul li {
  padding: 0px;
}
.banner .sociais ul li a {
  text-decoration: none;
}
.banner .sociais ul li a i {
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
  transition: 0.5s;
}
.banner .sociais ul li a i:hover {
  transform: scale(2);
}

.body {
  margin: 10%;
}
.body .info {
  display: grid;
  grid-template-areas: auto auto auto auto auto;
  grid-row-gap: 0;
  grid-template-rows: 10% auto 30%;
  text-align: center;
}
.body .info div:nth-child(1) {
  display: grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.body .info div:nth-child(1) h1 {
  font-size: 5em;
  text-transform: uppercase;
}
.body .info div:nth-child(1):before {
  content: "";
  width: 200px;
  height: 20px;
  background: #000;
  border-radius: 30px;
  margin-left: 130px;
  transform: translateY(157px);
}
.body .info div:nth-child(1):after {
  content: "";
  width: 500px;
  height: 2px;
  background: #000;
  border-radius: 30px;
  margin-top: 50px;
}
.body .info div:nth-child(2) {
  display: grid;
  width: 100%;
  grid-column-start: 1;
  grid-column-end: 2;
  margin-bottom: 20px;
}
.body .info div:nth-child(3) {
  display: grid;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  margin-bottom: 20px;
}
.body .info div:nth-child(4) {
  display: grid;
  width: 100%;
  grid-column-start: 3;
  grid-column-end: 3;
  margin-bottom: 20px;
}
.body .info div {
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
}
.body .info div p {
  font-size: 1.2em;
}
.body .info div span {
  height: 200px;
}
.body .info div img {
  margin-bottom: 20px;
}
.body .info div button {
  width: 300px;
  border: none;
  padding: 15px 50px;
  margin-top: 15px;
  background-color: #1da1f2;
  border-radius: 20px;
  color: #fff;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
.body .info div button i {
  padding-left: 10px;
}

@media only screen and (max-width: 600px) {
  .nav-add {
    display: block;
    height: 250px;
    transition: 1s;
  }

  .nav-remove {
    display: none;
    height: 0px;
    transition: 1s;
  }

  nav .menu {
    transition: 1s;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  nav .menu ul {
    display: grid;
    transition: 1s;
  }
  nav .menu ul li {
    margin-top: 10px;
  }
  nav .bars {
    display: block;
  }

  .banner .cont p {
    width: 75%;
  }
  .banner .cont .buscar {
    width: 75%;
  }
}

/*# sourceMappingURL=style.css.map */
