@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin+Sketch&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "calibri", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #f1f1f1;
}

nav {
  position: fixed;
  background-color: #f1f1f1;
  width: 100%;
  padding: 10px 30px;
  display: flex;
  justify-content: space-between;
  border-bottom: 0px solid grey;
}
nav .menu ul {
  display: flex;
}
nav .menu ul li {
  list-style: none;
  padding: 10px;
}
nav .menu ul li a {
  color: grey;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}
nav .menu ul li:nth-child(6) {
  cursor: pointer;
  border: 2px solid #1da1f2;
  color: #1da1f2;
  border-radius: 20px;
}
nav .menu ul li:nth-child(6) a {
  color: #1da1f2;
  font-weight: 600;
}
nav .bars {
  display: none;
  cursor: pointer;
}
nav .bars .border {
  border: 1px solid grey;
  padding: 2px 5px;
  border-radius: 3px;
}
nav .bars .border div {
  width: 20px;
  height: 3px;
  background-color: grey;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 20px;
}

.banner {
  background-image: url("../img/predio.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "sociais cont";
  padding: 15px;
}
.banner .cont {
  grid-area: cont;
  justify-content: center;
  align-items: center;
}
.banner .cont h1 {
  padding: 20px;
}
.banner .cont h1 b {
  color: blue;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}
.banner .cont p {
  width: 350px;
  margin: 20px;
  display: grid;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}
.banner .cont .btn {
  width: 200px;
  border: 1px solid #1da1f2;
  padding: 15px 2px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
  color: #1da1f2;
  font-weight: 600;
  cursor: pointer;
  font-size: 1.2em;
  background-color: #fff;
}
.banner .cont .buscar {
  display: flex;
  width: 100%;
}
.banner .cont .buscar input[type=text] {
  border: none;
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 80px;
  font-size: 1em;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.banner .cont .buscar button {
  border: none;
  padding: 10px 30px;
  width: 35px;
  height: 39px;
  background: #fff;
  color: grey;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.banner .cont .buscar button i {
  font-size: 1.3em;
}
.banner .sociais {
  grid-area: sociais;
  justify-content: left;
  align-items: right;
}
.banner .sociais ul {
  display: grid;
  list-style: none;
  justify-content: left;
  align-items: center;
  margin-top: 350px;
}
.banner .sociais ul li {
  padding: 0px;
}
.banner .sociais ul li a {
  text-decoration: none;
}
.banner .sociais ul li a i {
  color: #fff;
  padding: 5px;
  font-size: 1.5em;
  transition: 0.5s;
}
.banner .sociais ul li a i:hover {
  transform: scale(2);
}

.body {
  margin: 10%;
  color: grey;
}
.body .title h1 {
  font-size: 3em;
  color: white;
  text-shadow: 1px 1px 1px black;
  text-transform: uppercase;
  text-align: center;
}
.body .apresentacao {
  text-align: center;
  margin-bottom: 100px;
}
.body .apresentacao span {
  font-size: 200px;
}
.body .apresentacao p {
  font-size: 1.2em;
  text-align: justify;
}
.body .info {
  /* css grid start */
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-areas: "title title title title title title" "cont1 cont1 cont2 cont2 cont3 cont3";
  width: 100%;
  /* css grid end */
}
.body .info div:nth-child(1) {
  width: 100%;
  grid-area: title;
}
.body .info div:nth-child(2) {
  width: 100%;
  grid-area: cont1;
}
.body .info div:nth-child(3) {
  width: 100%;
  grid-area: cont2;
}
.body .info div:nth-child(4) {
  width: 100%;
  grid-area: cont3;
}
.body .info div {
  padding: 20px;
  display: grid;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.body .info div p {
  font-size: 1.2em;
}
.body .info div span {
  height: 130px;
}
.body .info div img {
  margin-bottom: 20px;
}
.body .info div button {
  width: 100%;
  border: 2px solid grey;
  padding: 15px 50px;
  margin-top: 15px;
  border-radius: 20px;
  color: grey;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
.body .info div button i {
  padding-left: 10px;
}
.body .colaboradores {
  /* Problema ao deixar os usuarios lado a lado */
  border-left: 2px solid grey;
  border-right: 2px solid grey;
  border-radius: 50px;
  padding: 20px 20px 100px 20px;
  margin: 100px 0px 100px 0px;
}
.body .colaboradores .title h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
}
.body .colaboradores .desc {
  margin-top: 100px;
  display: grid;
  grid-template-areas: "cont1 cont2";
}
.body .colaboradores .desc div:nth-child(1) {
  width: 100%;
  grid-area: cont1;
}
.body .colaboradores .desc div:nth-child(2) {
  width: 100%;
  grid-area: cont2;
}
.body .colaboradores .desc span img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.body .colaboradores .desc .cli {
  display: flex;
  padding: 20px;
}
.body .colaboradores .desc .cli .prof {
  padding: 10px;
}
.body .colaboradores .desc .cli .prof img {
  width: 50px;
  height: 30px;
  border-radius: 0px;
}
.body .colaboradores .desc .cli .prof p {
  color: #1da1f2;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px black;
}
.body .colaboradores .desc .cli .prof span {
  color: grey;
}
.body .sobre {
  width: 100%;
  padding: 15px;
  margin-top: 100px;
  display: grid;
  grid-template-areas: "title title" "conte img";
  flex-wrap: wrap;
}
.body .sobre div:nth-child(1) {
  width: 100%;
  grid-area: title;
  margin-bottom: 30px;
}
.body .sobre div:nth-child(2) {
  width: 100%;
  margin-top: 50px;
  grid-area: conte;
}
.body .sobre div:nth-child(2) p {
  font-size: 1.2em;
  text-align: justify;
}
.body .sobre div:nth-child(3) {
  width: 100%;
  grid-area: img;
}
.body .contact {
  display: flex;
}
.body .contact h1 {
  margin-bottom: 50px;
}
.body .contact form {
  width: 100%;
  padding: 20px;
  display: block;
}
.body .contact form .form-control {
  width: 100%;
  border: 1px solid grey;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 3px;
  font-size: 1.2em;
}
.body .contact form button {
  width: 100%;
  border: 2px solid grey;
  padding: 15px 50px;
  margin-top: 15px;
  border-radius: 20px;
  color: grey;
  font-weight: 600;
  font-size: 1.2em;
  cursor: pointer;
}
.body .contact form button i {
  padding-left: 10px;
  font-size: 1.2em;
}
.body .contact .location {
  padding: 20px;
}

@media only screen and (max-width: 600px) {
  .body .sobre .image img {
    width: 300px;
  }

  .nav-add {
    display: block;
    height: 250px;
    transition: 1s;
  }

  .nav-remove {
    display: none;
    height: 0px;
    transition: 1s;
  }

  nav .menu {
    transition: 1s;
    margin-top: 60px;
    margin-bottom: 20px;
  }
  nav .menu ul {
    display: grid;
    transition: 1s;
  }
  nav .menu ul li {
    margin-top: 10px;
  }
  nav .bars {
    display: block;
  }

  .banner .cont p {
    width: 75%;
  }
  .banner .cont .buscar {
    width: 75%;
  }
}
@media only screen and (max-width: 800px) {
  .img {
    display: none;
  }

  .body .info {
    flex-wrap: wrap;
    /* css grid start */
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title title" "cont1 cont1" "cont2 cont2" "cont3 cont3";
    width: 100%;
  }
  .body .info button {
    width: 100%;
  }
  .body .sobre {
    flex-wrap: wrap;
    /* css grid start */
    display: grid;
    grid-gap: 10px;
    grid-template-areas: "title title" "img img" "conte conte";
    width: 100%;
  }

  .body .title h1 {
    font-size: 3em;
  }

  .colaboradores .title h1 {
    font-size: 2em;
  }
  .colaboradores .desc {
    display: grid;
    grid-template-areas: "cont1" "cont2" !important;
    justify-content: center;
  }
  .colaboradores .desc .cli {
    display: block !important;
  }

  .contact {
    flex-wrap: wrap;
  }
  .contact .location iframe {
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
